{# src/OC/PlatformBundle/Resources/views/Dahouet/regates/index.html.twig
#} {% extends "DCPlatformBundle::dahouet.Layout.html.twig" %}
{% block title %}
	{% if app.request.attributes.get('_route') matches '{dc_platform_dahouet_regates_inscription}' %}
		inscription aux regatesS
	{% else %}
		Regate 
	{% endif %}
	 - {{ parent() }}
{% endblock %}
{% block main %}
<div id="content-main" class="clearfix grid_11">
	<div id="post-35"
		class="post-34 page type-page status-publish hentry clearfix post nodate">
		{% set currentRoute = app.request.attributes.get('_route') %}
		<p>{{ currentRoute }}</p>
		{% if app.request.attributes.get('_route') matches '{dc_platform_dahouet_regates_inscription}' %}
		{% include  "DCPlatformBundle:Dahouet/regates:inscription.html.twig" %}
		{% else %}
		<div class="entry clearfix">
			<h1 class="post-title entry-title">titre</h1>
			<div class="post-meta clearfix">
				<span class="updated"> <span class="value-title"
					title="2013-03-01T11:53" />
				</span>
			</div>
			<div class="entry-content clearfix">
				<p>
					<strong>date</strong>
				</p>
				<p>&nbsp;</p>
				contenu

				<div class="important_block message-block">
					<p class="printonly">
						<strong>Important!</strong>
					</p>
					</p>
					<p class="first-p">&nbsp;</p>
					<p>Les informations seront publiées prochainement</p>
					<p>
				
				</div>
			</div>
			<div class="entry-footer clearfix"></div>
		</div>
		{% endif %}
	</div>
</div>
<!-- #content-main -->


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />
  </form>

{% endblock %}